{% extends 'members/base.html' %}
{% block pagetitle %}Upload Photo{% endblock %}

{% block member %}
<div class='page' id='profile'>
	<div class='page-header form-header clearfix'>
		<h2>Upload Photo</h2>
	</div>
	<div class='page-box clearfix'>
		<form method='post' action='/member/upload/' enctype='multipart/form-data'>
			{% include "form.html" with form=form %}
			<div class='submit'>
				<input type='submit' value='Upload' class='button' />
			</div>
		</form>
	</div>
</div>
{% endblock %}
