{% load static %}
{% get_static_prefix as STATIC_DIR %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{STATIC_DIR}}default.css" />
		<title>{% block pagetitle %}Welcome to Cosmos.is{% endblock %} | Cosmos.is</title>
		<script src="https://www.google.com/jsapi?key=ABQIAAAAvQQmUH3Ff2x8mUCPcFUu8RQbqwcvo6K3p5mjESH3p_3Lz8o-chTGtlqZ8B-YGYvmoRmYUCCxHeMzvg" type="text/javascript"></script>
		<script type='text/javascript'>
			 google.load("jquery", "1.6.2");
		</script>
	</head>
	<body>
		<script type='text/javascript'>
			//CSRF Fixer for ajax posting
			$(document).ajaxSend(function(event, xhr, settings) {
				function getCookie(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie != '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
							var cookie = jQuery.trim(cookies[i]);
							// Does this cookie string begin with the name we want?
							if (cookie.substring(0, name.length + 1) == (name + '=')) {
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								break;
							}
						}
					}
					return cookieValue;
				}
				function sameOrigin(url) {
					// url could be relative or scheme relative or absolute
					var host = document.location.host; // host + port
					var protocol = document.location.protocol;
					var sr_origin = '//' + host;
					var origin = protocol + sr_origin;
					// Allow absolute or scheme relative URLs to same origin
					return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
						(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
						// or any other URL that isn't scheme relative or absolute i.e relative.
						!(/^(\/\/|http:|https:).*/.test(url));
				}
				function safeMethod(method) {
					return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
				}
			
				if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
					xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
				}
			});
		</script>
		<div class='header'>
	        {% if user.is_authenticated %}
	        	<div class='welcome_msg'>Welcome {{user.get_profile.full_name}}!</div>
	        {% else %}
	        	<div class='welcome_msg'>Welcome Guest!</div>
	        {% endif %}
	        </div>
        </div>
		<div class='content'>
		{% block content %}
            Templating error - Content block not overrode
        {% endblock %}
		</div>
		<div class='footer'>
			A <a href='http://www.facepunch.com'>facepunch</a> collab.
		</div>
	</body>
</html>
