{% extends 'base.html' %}
{% block pagetitle %}Viewing Submission{% endblock %}

{% block content %}
<div class='submission-top'>
    <div class='submission-tag'>
        <img src='categoryicon' />
        <a href=''>Main Category</a>
    </div>
    <div class='submission-nav'>
        <a href='' class='submission-newer button'>Newer</a>
        <a href='' class='submission-older button'>Older</a>
    </div>
    <div class='submission-title'>
        <h2>Submission Name</h2>
    </div>

</div>
{% endblock %}