{% extends 'base.html' %}
{% block pagetitle %}Viewing Submission{% endblock %}

{% block content %}
<div id='middle'>
	<h2>Success! Your account has been created. Now please choose the neighborhood/area you would like to control and manage.</h2>
	<iframe width="900" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=43.63856,-79.3927&amp;spn=0.173926,0.291824&amp;z=11&amp;output=embed"></iframe>
</div>
{% endblock %}